.sec4-parent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item{
    height: 157px;
    /* width: 223px; */
}
.item{
    position: relative;
    color: white;
}
.item .above{
    position: absolute;
    z-index: 100;
}
