.sec4-parent{
    display: flex;
    flex-direction: column;
    width: 223px;
}
.item{
    height: 157px;
    width: 223px;
}
.item-one{
    background-image: url("./../media/photo.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
}