@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Inter:wght@300&family=Raleway&family=Tajawal&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 10px;
}
